html, body {
    height: 100%;
}

a {
	text-decoration: underline;
}

a:hover {
	cursor: pointer;
}

.container-table {
    display: table;
    width: 30%;
    height: auto;
    border: 1px solid;
    padding-bottom: 0.625em;
    background-color: #FCFCFC;
}

.font-style, .label-style, .disclaimer {
	font-size: 0.875em;
}

.label-style {
	font-weight: bold;
}

.disclaimer {
	color: blue;
}

.top-buffer {
	margin-top: 0.625em;
}

.red-alert {
	color: red;
	font-size: 0.6875em;
}