<!DOCTYPE html>
<html lang="en_US">
	<head>
		<title>Currency Converter</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="assets/libs/bootstrap-3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/app.css">
		<script type="text/javascript" src="app/js/angular.min.js"></script>
		<!-- loading application js files -->
		<script type="text/javascript" src="app/app.module.js"></script>
		<script type="text/javascript" src="app/constants.js"></script>
		<script type="text/javascript" src="app/controllers/app.currencycontroller.js"></script>
		<script type="text/javascript" src="app/services/app.converterservice.js"></script>
		<script type="text/javascript" src="app/directives/app.directive.validnumber.js"></script>
	</head>
	<body ng-app="app">
		<div class="container container-table" ng-controller="CurrencyController">
			<div class="row">
				<div class="col-md-12">
					<h4>Currency converter</h4>
				</div>
			</div>
			<div class="Absolute-center alert alert-danger text-center" ng-show="serviceError">
				<strong>Error!</strong> Sorry for inconvenience. Exchange rate system is down. Please try after sometime.
			</div>
			<div class="row">
				<div class="col-md-12">
					<label>Type in amount and select currency:</label>			
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<form name="frmCurrency" novalidate>
						<input type="number" class="form-control" name="baseCurrency" ng-model="baseCurrency" ng-change="calConvertedAmount()" valid-number autofocus placeholder="Enter a valid number">
					</form>
				</div>
				<div class="col-md-6">
					<select name="baseCurrency" class="form-control" ng-model="selBaseCurrency" ng-options="currency as currency.code for currency in currencies" ng-change="getExchangeRate()" >
					</select>
				</div>
			</div>
			<div class="row" ng-show="frmCurrency.baseCurrency.$touched && frmCurrency.baseCurrency.$error.validNumber">
				<div class="col-md-12">
					<span class="red-alert">Enter an amount with two decimal places. </span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label>Converted amount:</label>
				</div>		
			</div>
			<div class="row">
				<div class="col-md-6">
					<input type="text" class="form-control" name="convCurrency" ng-model="convCurrency" disabled>
				</div>
				<div class="col-md-6">
					<select name="convCurrency" class="form-control" ng-model="selConvCurrency" ng-options="currency as currency.code for currency in currencies" ng-change="getExchangeRate()" >
					</select>
				</div>
			</div>
			<div class="row top-buffer">
				<span class="col-md-12 text-right"><a ng-click="showExchangeRate = !showExchangeRate">Disclaimer</a></span>
			</div>
			<div class="row" ng-show="showExchangeRate" >
				<div class="col-md-12 text-left disclaimer">
					<span>{{ 1 + ' ' + selBaseCurrency.code + ' = ' + exchangeRate + ' ' + selConvCurrency.code}}</span>
					<a href="http://www.xe.com/" target="_blank">read more..</a>
				</div>
			</div>
	</div>
		
	</body>
</html>