<!DOCTYPE html>
<html lang="en_US">
	<head>
		<title>Currency Converter</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="assets/libs/bootstrap-3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/app.css">
	</head>
	<body ng-app="app">
		<div class="container container-table centered" ng-controller="CurrencyController">
			<div class="row">
				<div class="col-md-12">
					<h4>Currency converter</h4>
				</div>
			</div>
			<div class="Absolute-center alert alert-danger text-center" ng-show="serviceError">
				<strong>Error!</strong> Sorry for inconvenience. Exchange rate system is down. Please try after sometime.
			</div>
			<div class="row">
				<div class="col-md-12">
					<label class="label-style">Type in amount and select currency:</label>			
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<form name="frmCurrency" novalidate>
						<input type="text" class="form-control" name="baseCurrency" id="baseCurrency" ng-model="baseCurrency" valid-number autofocus placeholder="0.00">
					</form>
				</div>
				<div class="col-md-6">
					<select name="baseCurrency" class="form-control" ng-model="selBaseCurrency" ng-options="currency as currency.code for currency in currencies" ng-change="getExchangeRate()"  >
					</select>
				</div>
			</div>			
			<div class="row">
				<div class="col-md-12">
					<label class="label-style">Converted amount:</label>
				</div>		
			</div>
			<div class="row">
				<div class="col-md-6">
					<input type="text" class="form-control" name="convCurrency" ng-model="convCurrency" disabled>
				</div>
				<div class="col-md-6">
					<select name="convCurrency" class="form-control" ng-model="selConvCurrency" ng-options="currency as currency.code for currency in currencies" ng-change="getExchangeRate()" >
					</select>
				</div>
			</div>
			<div class="row top-buffer">
				<span class="col-md-12 text-right"><a class="label-style" ng-click="showExchangeRate = !showExchangeRate">Disclaimer</a></span>
			</div>
			<div class="row" ng-show="showExchangeRate" >
				<div class="col-md-12 text-left">
					<span>{{ 1 + ' ' + selBaseCurrency.code + ' = ' + exchangeRate + ' ' + selConvCurrency.code}}</span>

					<p class="font-style">The developer is not responsible for the accuracy of the exchange rate data. The rates are not current and are based on yesterday's data. </p>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="app/js/angular.min.js"></script>
		<!-- loading application js files -->
		<script type="text/javascript" src="app/app.module.js"></script>
		<script type="text/javascript" src="app/constants.js"></script>
		<script type="text/javascript" src="app/controllers/app.currencycontroller.js"></script>
		<script type="text/javascript" src="app/services/app.converterservice.js"></script>
		<script type="text/javascript" src="app/directives/app.directive.validnumber.js"></script>
	</body>
</html>